@*<div class="top-row pl-4 navbar">
    <a class="navbar-brand" href="">Ask</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>*@

<div class="@NavMenuCssClass()">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" asp-action="Index" asp-controller="Home">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" asp-action="Index" asp-controller="Tags">
                <span class="oi oi-home" aria-hidden="true"></span> Tags
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </a>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;


    string NavMenuCssClass() { return collapseNavMenu ? "collapse" : null; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
